
header {
    height: 100px;
    width: 100%;
    background-color: khaki;
}
main {
    height: 100px;
    width: 100%;
    background-color: antiquewhite;
}
footer {
    height: 100px;
    width: 100%;
    background-color: brown;
}